// style the menu btn
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        // style to show the 3 line icon
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    } // now go add the actions to this with js
    // Rotate into X with Menu Lines
    &.close {
        transform: rotate(180deg); // whenthe menu is clicked, rotate 180 deg
        .btn-line {
            // line 1 - rotate
            &:nth-child(1) {
                //pseudo class select the 1st child
                background: red;
                transform: rotate(45deg) translate(5px, 5px);
                // https://developer.mozilla.org/en-US/docs/Web/CSS/transform
            }
            // line 2 - hide
            &:nth-child(2) {
                // select the 2nd child
                opacity: 0;
            }
            // line 3 - rotate
            &:nth-child(3) {
                //select the 3rd child
                background: red;
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    &.show {
        visibility: visible;
    }
    //since the class is menu-branding, we can use &-branding to join (menu-branding) sass feature.
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    //style for menu-nav separately
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0); // slide the menu to top when 3line icon is clicked
        @include easeOut; // ease it out
        &.show {
            // Slide it in from the top
            transform: translate3d(0, 0, 0);
        }
    }
    // Branding side
    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeOut;
        &.show {
            // Slide it in from the top
            transform: translate3d(0, 0, 0);
        }
        // add the image
        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    // slide out the nav item 
    .nav-item {
        transform: translate3d(600px, 0, 0); // slide it to the right
        @include easeOut;
        &.show {
            // Slide it in from the right
            transform: translate3d(0, 0, 0);
        }
        // style the link we are at
        &.current>a {
            color: $secondary-color;
        }
    }
    // style the links
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include easeOut;
        // hover effect
        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay each nav item slide by 0.1sec
// use sass loop just like our js loop (let i = 0; i<4; i++)
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        // just like string literal ${} in js
        transition-delay: $x * 0.1s; // each item comes in delayed by 0.1 sec
    }
}